DISCORD_CLIENT_ID="DISCORD APP ID"
DISCORD_CLIENT_SECRET="DISCORD APP SECRET"
DISCORD_CALLBACK_URL="http://localhost:3000/auth/discord/callback"
SESSION_SECRET="SECRET FOR AUTH"
MONGO_URI="Not used"
BASE_URL="http://localhost:3000"