<%- include('partials/header', { title: "Login" }) %>

<div class="container">
    <h2 class="mt-5">Login</h2>
    <a href="/auth/discord" class="btn btn-primary">Auth with Discord</a>
</div>

<%- include('partials/footer') %>